template(name='cal')
    // .ui.header calendar
    #cal

template(name='events')
    .ui.stackable.padded.grid 
        .row
            .sixteen.wide.column
                .ui.inline.header
                    +i name='calendar'
                    |events
                if currentUser
                    i.plus.large.green.circular.link.icon.zoomer.add_event(title='add event')
                        // +i name='plus'
                if viewing_past
                    .ui.compact.large.basic.button.toggle_past
                        +i name='previous'
                        |past
                else
                    .ui.compact.large.basic.button.toggle_past
                        +i name='tomorrow'
                        |future
                +ismall name='tag'
                each picked_event_tags 
                    .ui.blue.button.unpick_tag
                        |#{this}
                each event_tags 
                    .ui.compact.basic.circular.button.pick_tag #{title}
                .ui.icon.input
                    if current_search
                        i.remove.large.red.link.icon.clear_search.zoomer(title='clear search')
                    else
                        i.search.icon
                    input.event_search(type='text' placeholder='search...' value=current_search)
            .sixteen.wide.column
                if subs_ready
                    // if session_is 'view_mode' 'grid'
                    // if one_event_result
                    //     .ui.stackable.one.cards.scrolling
                    //         each event_docs
                    //             +event_card
                    // else if two_event_results
                    //     .ui.stackable.two.cards.scrolling
                    //         each event_docs
                    //             +event_card
                    // else
                    .ui.stackable.centered.four.cards
                        each event_docs
                            +event_card
                else 
                    .ui.center.aligned.basic.segment
                        i.massive.loading.calendar.grey.icon
                // +cal

template(name='session_icon_button')
    .ui.icon.circular.button.set_session_value(class=session_icon_button_class)
        +i name=icon

template(name='event_card')
    .ui.card
        .content
            a.ui.inline.header.fly_right(href="/event/#{_id}") #{title} 
            div
            if is_in_past
                +ismall name='clock'
                i.undo.icon 
                |in past
            if start_datetime
                .ui.small.inline.grey.header 
                    |{{medium_date start_datetime}} 
                .ui.small.inline.header {{from_now start_datetime}}
        if image_id
            a.image.pointer.fly_right(href="/event/#{_id}")
                img.ui.image(src="{{c.url image_id height=800 width=800 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .content
            if tags 
                i.tag.icon
                each seven_tags 
                    .ui.link.basic.circular.label.zoomer.pick_flat_tag
                        |#{this}
            div 
            +boolean_view key='current' label='current' icon='clock'
            
            if views 
                span(title='views')
                    |#{views} 
                    i.eye.grey.icon
        .content
            |#{event_checkins.count}
            if doc_comments.count
                .meta
                    each doc_comments 
                        i.grey.chat.outline.icon
                        img.ui.avatar.image(src="{{c.url _author.image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                        |#{body}
            if in_dev
                +print_this



template(name='event_view')
    with current_doc
        if image_id
            img.ui.fluid.image.checkin_banner(src="{{c.url image_id width=1000 height=1000 crop='crop'}}")    
        .ui.stackable.padded.grid
            .middle.aligned.row 
                .sixteen.wide.column
                    a.ui.circular.compact.basic.button.fly_left(href="/events")
                        i.chevron.left.large.icon
                        +i name='calendar'
                        // i.big.calendar.icon
                    .ui.inline.header #{title}
                    // div
                    if can_edit
                        if published 
                            i.big.eye.green.icon(title='published')
                        else 
                            i.big.eye.red.slash.icon(title='unpublished')
                    // div
                    // .ui.inline.header {{medium_date date}}
                    if start_datetime
                        .ui.inline.header {{long_date start_datetime}}
                        |&nbsp;
                        .ui.inline.grey.header {{from_now start_datetime}}
                    
                    if time 
                        .ui.inline.grey.header {{time}}
                    if can_edit
                        a.edit_event.fly_left(href="/event/#{_id}/edit" title='edit')
                            i.large.link.pencil.circular.icon
                    +boolean_view key='current' label='current' icon='clock'
            .row
                .twelve.wide.column.scrollin
                    a(href="{{c.url image_id }}" target='_window')
                        img.ui.fluid.rounded.image.mobile_hidden(src="{{c.url image_id }}" class=currentUser.invert_class)
                        img.ui.small.inline.rounded.image.mobile.only(src="{{c.url image_id }}" class=currentUser.invert_class)
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    // .scrolling
                    |!{body}
                    // div 
                    // .spacer
                    // .spacer
                    .ui.header
                        +i name='tasks'
                        |tasks
                    .ui.stackable.four.cards 
                        each model_docs_helper 'task' 
                            .card 
                                img.ui.rounded.image(src="{{c.url image_id }}" class=currentUser.invert_class)
                                .content
                                    .ui.label
                                        |#{credit_bounty} credits
                                    .ui.label
                                        |#{slot_amount} slots

                                    unless task_instance
                                        |#{title}
                                        .ui.button.generate_task 
                                            |make task instance
                                    with task_instance
                                        .ui.header #{_task.title}
                                        +single_user_edit key='assigned_user_id' label='assigned to'
                                        +boolean_edit key='completed' label='completed' icon='checkmark'
                .four.wide.column.scrollin
                    if link 
                        a.ui.big.basic.fluid.compact.button(href=link target='_window' title=link)
                            i.external.icon
                            // |#{link}
                            |link
                    .spacer
                    +comments
                    // +rsvp
                    if max_attendees
                        .ui.header
                            |#{max_attendees} max attendees
                    .ui.small.header #{views} views
                    each viewers
                        .ui.label #{username}
                    .ui.hidden.divider
                    +array_view key='tags' label='tags' icon='tags'  
                    div

template(name='location_map')
    iframe(width='100%' height='350' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src="https://maps.google.com/maps?&amp;q=#{location}&amp;output=embed")


template(name='event_edit')
    with current_doc
        .ui.stackable.padded.grid
            .two.column.row 
                .column
                    a.ui.green.big.compact.button.fly_up(href="/event/#{_id}" title='save')
                        i.checkmark.icon
                        |save
                    .ui.inline.header 
                        // i.large.calendar.icon
                        +icolor name='tear-off-calendar'
                        |editing event
                    +boolean_edit key='published' label='published' 
                    +delete_button
                    +text_edit key='title' label='title'  
                    +image_edit key='image_id' label='image'  
                    +boolean_edit key='current' label='current' icon='clock'
                .column
                    // unless is_repeating 
                    +datetime_edit key='start_datetime' label='start datetime'  
                    +datetime_edit key='end_datetime' label='end datetime'  
                    div 
                .column
                    +array_edit key='tags' label='tags' icon='tags'  
                .column
                    +html_edit key='body' label='description'  
                    +link_edit key='link' label='link'