template(name='user')
    with current_user
        if background_image_id
            img.ui.image.checkin_banner(src="{{c.url background_image_id height=1000 crop='crop'}}")
        else 
            img.ui.image.checkin_banner(src="{{c.url image_id height=1000 crop='crop'}}")
        .ui.stackable.padded.grid
            .row
                .four.wide.column.scrolling
                    a.ui.large.circular.compact.button.fly_left(href='/users' title='back to users')
                        i.chevron.left.icon
                        +i name='gender-neutral-user'
                    .ui.center.aligned.inline.header
                        strong #{name}
                        | @#{username}        
                    img.ui.circular.centered.image.pointer.mobile_hidden(src="{{c.url image_id height=600 width=600 gravity='face' crop='fill'}}")
                    img.ui.circular.small.image.inline.pointer.mobile.only(src="{{c.url image_id height=400 width=400 gravity='face' crop='fill'}}")
                    .ui.inline.header(title='credit')
                        +i name='coins'
                        |#{credit} credit
                    // if credit
                    if is_current_user
                        a.ui.circular.compact.big.button(href="/user/#{current_user.username}/edit" title='user settings')
                            i.cog.icon
                            |edit user
                        a.ui.big.image.label.button.logout
                            +i name='exit'
                            |log out
                    else if currentUser.admin_mode
                        a.ui.circular.compact.big.button(href="/user/#{current_user.username}/edit" title='user settings')
                            i.shield.icon
                            |edit user
                    div
                    +array_view key='tags' label='tags' icon='tags'
                    div
                    +array_view key='skills' label='skills' icon='wrench'  

                    .spacer
                    if link 
                        a.ui.button(href=link target='_window')
                            i.external.icon
                            |link
                    
                .twelve.wide.column.scrolling
                    .ui.two.column.grid 
                        .column
                            +user_credit
                        .column
                            +user_checkins


template(name='user_credit')
    .ui.header
        +i name='coins'
        |credit
    .ui.header 
        +i name='sent'
        |sent 
    .ui.button.send_credit
        |send credit
    .ui.list
        each sent_transfers
            .item #{when} #{amount}
    .ui.header 
        +i name='gift'
        |received
    .ui.list 
        each received_transfers
            .item #{when} #{amount}
            

template(name='user_checkins')                    
    .ui.header 
        +i name='checkmark'
        |check ins
    .ui.list 
        each user_checkin_docs
            a.item(href="/event/#{_event._id}") 
                |#{_event.title}
                small #{when}