template(name='users')
    .ui.padded.stackable.grid.scrolling
        .sixteen.wide.middle.aligned.column
            .ui.inline.header
                +i name='gender-neutral-user'
                |#{user_docs.length}
                |users
            if currentUser.admin_mode
                .ui.icon.button.add_user
                    i.plus.large.icon
            // +i name='tag'
            if picked_user_tags
                // #clear_tags.ui.primary.icon.compact.button
                //     i.remove.icon
                each picked_user_tags
                    .unpick_user_tag.ui.primary.compact.button
                        strong #{this}
            each all_user_tags
                .ui.compact.basic.button.pick_user_tag.zoomer(class=cloud_tag_class) 
                    strong #{this.name}
            // +sort_direction_button
            // +session_set key='sort_users_key' value='credit' icon='coins'
            .ui.icon.input
                if username_query
                    i.remove.link.red.circular.icon.zoomer.clear_query
                else
                    i.search.icon.link.submit_query
                input.search_user(type='text' placeholder='search...' autofocus='' value=username_query)
        .sixteen.wide.column
            .scrolling
                if one_result
                    .ui.stackable.centered.one.cards
                        each user_docs
                            +user_card
                else if two_result
                    .ui.stackable.centered.two.cards
                        each user_docs
                            +user_card
                else
                    .ui.stackable.centered.five.cards
                        each user_docs
                            +user_card



template(name='user_card')
    a.card.zoomer.fly_left(href="/user/#{username}")
        unless background_image_id
            img.ui.centered.image(src="{{c.url image_id width=400 height=300 crop='fill' gravity='face'}}")    
        if background_image_id
            .ui.fade.reveal.image
                .visible.content
                    img(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}") 
                .hidden.content
                    img(src="{{c.url background_image_id height=500 width=500 gravity='face' crop='fill'}}") 

        .content
            a.ui.inline.header.pointer.blink(href="/user/#{username}" style="color:#{theme_color};")
                |#{_name}
                //- |#{username}
            .ui.basic.label(style="color:#{current_user.theme_color};") 
                +i name='coins'
                |#{credit}c
            each tags 
                .ui.basic.label #{this}
            if checked_in
                .ui.green.label
                    i.checkmark.icon
                    |checked in {{from_now last_checkin}}
            .ui.small.basic.label 
                |#{views}
                |views
            +boolean_view key='is_musician' label='musician' icon='music'
            
template(name='tip_button')
    .ui.icon.compact.circular.basic.button.tip(title='tip coin')
        +i name='donate'
                    
template(name='addtoset_user')
    .ui.small.compact.button.toggle_value(class=ats_class) +#{value}